<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Parameters.wxi ?>
  <Product Id="*" Name="$(var.ProductName)"
           UpgradeCode="2d432002-ebf9-4407-b645-6a8d373101a5"
           Manufacturer="$(var.CompanyName)"
           Version="!(bind.FileVersion.IntegrationService.exe)"
           Language="1033">
    <Package InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="data.cab" EmbedCab="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="COMPANYFOLDER" Name="$(var.CompanyName)">
          <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)">
            <Component Id="EntumCM.ABBYY_Integration_Service" Guid="2d432002-ebf9-4407-b645-6a8d373101a5">
              <File Id="IntegrationService.exe" Name="IntegrationService.exe"
                    Source="..\WindowsService\bin\Debug\WindowsService.exe"
                    Vital="yes" KeyPath="yes" DiskId="1" />
              <File Id="IntegrationService.exe.config" Name="IntegrationService.exe.config"
                    Source="..\WindowsService\bin\Debug\WindowsService.exe.config"
                    Vital="yes" KeyPath="no" DiskId="1" />
              <File Id="NLog.dll" Name="NLog.dll"
                    Source="..\WindowsService\bin\Debug\NLog.dll"
                    Vital="no" KeyPath="no" DiskId="1" />
              <File Id="NLog.xml" Name="NLog.xml"
                    Source="..\WindowsService\bin\Debug\NLog.xml"
                    Vital="no" KeyPath="no" DiskId="1" />            
              <ServiceInstall Id="ServiceInstaller"
                              Type="ownProcess" Vital="no" Name="$(var.ServiceName)"
                              DisplayName="$(var.ProductName)"
                              Description="$(var.Description)"
                              Start="demand" Account="LocalSystem"
                              ErrorControl="ignore" Interactive="no" />
              <ServiceControl Id="StartService"
                              Start="install"
                              Stop="both"
                              Remove="uninstall"
                              Name="$(var.ServiceName)"
                              Wait="yes" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="ProductFeature"
             Title="$(var.ServiceName)"
             Level="1">
      <ComponentRef Id="EntumCM.ABBYY_Integration_Service"/>
    </Feature>
  </Product>
</Wix>