<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WindowsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <add key="SettingsRequestHandlerURl" value="test"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <targets>
      <target name="file" xsi:type="File" fileName="${basedir}/log/${shortdate}.log"
              layout="${date:format=dd-MM-yyyy HH\:mm\:ss} | ${level} | ${logger} | ${message}"
              keepFileOpen="false" encoding ="UTF-8"
              createDirs="true"
              archiveEvery="Month" archiveNumbering="Rolling" 
              archiveFileName="${basedir}/archive/{##}.log"
              MaxArchiveFiles="12" ConcurrentWrites="true"/>              
    </targets>
    <rules>
      <logger name="*" writeTo="file" />
    </rules>
  </nlog>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ContentService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="2147483648" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true" messageEncoding="Mtom">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_Authentication"/>
        <binding name="BasicHttpBinding_DocumentManagement" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483648" maxBufferSize="214748364" maxReceivedMessageSize="2147483648" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <!--<binding name="BasicHttpBinding_Authentication" />
                <binding name="BasicHttpBinding_ContentService" messageEncoding="Mtom" />
                <binding name="BasicHttpBinding_DocumentManagement" />-->
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/cws/services/Authentication" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Authentication" contract="Authentication.Authentication" name="BasicHttpBinding_Authentication"/>
      <endpoint address="http://localhost:8080/cws/services/ContentService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ContentService" contract="ContentService.ContentService" name="BasicHttpBinding_ContentService"/>
      <endpoint address="http://localhost:8080/cws/services/DocumentManagement" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DocumentManagement" contract="DocumentManagement.DocumentManagement" name="BasicHttpBinding_DocumentManagement"/>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <WindowsService.Properties.Settings>
      <setting name="WindowsService_RSSoapService_RSSoapService" serializeAs="String">
        <value>http://localhost/Recognition4WS/RSSoapService.asmx</value>
      </setting>
    </WindowsService.Properties.Settings>
  </applicationSettings>
</configuration>
